<!doctype>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchController">
     <h1 style="text-align:center">Lunch Checker</h1>
<br><br>
         <div class="form-group">
             Dishes  <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="dishes" >
         </div>
         <div class="form-group">
             <button class="btn btn-primary" ng-click="checknoofDishes()">Lunch checker-Check If Too Much or enough</button>
         </div>
         <div class="form-group message">
           {{message}}
         </div>
<br>
<br>

         <div>Note:This application does not consider empty item, such as., , , as an item towards to the count. </div>
   </div>

</body>
</html>
