<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Shopping List Check Off</h1>

      <div class="row">
        <!-- To Buy List -->
        <div class="col-md-6" ng-controller="ToBuyController as tobuylist">
          <h2>To Buy:</h2>
          <ul>
            <li ng-repeat="item in tobuylist.items">
              Buy {{item.quantity}} {{item.name}}
              <button
                class="btn btn-default"
                ng-click="tobuylist.boughtItem($index)"
              >
                <span class="glyphicon glyphicon-ok"></span> Buy
              </button>
            </li>
          </ul>
          <div ng-if="tobuylist.isFull()" class="emptyMessage">
            Everything is bought!
          </div>
        </div>

        <!-- Already Bought List -->
        <div
          class="col-md-6"
          ng-controller="AlreadyBoughtController as boughtlist"
        >
          <h2>Already Bought:</h2>
          <ul>
            <li ng-repeat="item in boughtlist.items">
              Bought {{item.quantity}} {{item.name}}
            </li>
          </ul>

          <div ng-if="boughtlist.isEmpty()" class="emptyMessage">
            Nothing bought yet.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
